[submodule "include/sead"]
	path = include/sead
	url = https://github.com/open-ead/sead
[submodule "include/NintendoSDK"]
	path = include/NintendoSDK
	url = https://github.com/MonsterDruide1/nnheaders
[submodule "include/agl"]
	path = include/agl
	url = https://github.com/MonsterDruide1/agl
