[submodule "include/sead"]
	path = include/sead
	url = https://github.com/MonsterDruide1/sead
[submodule "include/NintendoSDK"]
	path = include/NintendoSDK
	url = https://github.com/MonsterDruide1/nnheaders
[submodule "include/agl"]
	path = include/agl
	url = https://github.com/MonsterDruide1/agl
[submodule "toolchain/musl"]
	path = toolchain/musl
	url = https://github.com/open-ead/botw-lib-musl
[submodule "tools/nx-decomp-tools-binaries"]
	path = tools/nx-decomp-tools-binaries
	url = https://github.com/open-ead/nx-decomp-tools-binaries
