name: decomp-dev
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  publish_progress_decomp_dev:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        version: ["1.0"]
    steps:
    - name: Check out project
      uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Set up python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'
    - name: Set up python package dependencies
      run: pip install cxxfilt pyyaml protobuf
    - name: Run report generator for decomp.dev
      run: python .github/scripts/decomp-dev.py --version ${{ matrix.version }} -o report.json
    - name: Upload report
      uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.version }}_report
        path: report.json
