name: lint
on: [push, pull_request]
permissions: {}
jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: 'src lib'
        exclude: 'lib/NintendoSDK lib/aarch64 lib/agl lib/eui lib/sead'
        clangFormatVersion: 18
  custom-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Set up python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip'
    - name: Set up python package dependencies
      run: pip install capstone colorama cxxfilt pyelftools watchdog python-Levenshtein toml
    - name: Run custom code styling checks
      run: tools/check-format.py --ci
